<article class="post-preview">

  <header>
    <h2 class="title"> <a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
    <div class="meta">
      <div class="date">
      {{ .Date.Format "2 Jan, 2006" }} - {{ .ReadingTime }} minutes
      </div>
      {{ partial "tags.html" .Params.tags }}
    </div>

  </header>

  <div class="summary">
    {{ .Summary }}
  </div>

  <div class="rmore">
    <span class="button next">
	    <a href='{{ .Permalink }}' class="rmore">
		    <span class="button__text">Read More</span>
		    <span class="button__icon">→<span>
	    </a>
    </span>
  </div>


</article>
