{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <!--<h1>{{ .Site.Title }}</h1>-->
            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}
            {{- with .Site.Params.social }}
            <div>
                {{ partial "social-icons.html" . }}
            </div>
            {{- end }}
            <!--
            <div class="post-content">
                {{ .Content }}
            </div>
            -->
            <hr>
            <div  class="post">
            <article>
            <!-- {{- $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
            
                {{ range first 1 $paginator.Pages }}
                 <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
                    {{ .Content  }}
                    {{ partial "pagination-single.html" . }}
            {{- end }} -->

            {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
                {{ range $paginator.Pages }}
                    {{ .Render "summary" }}
            {{ end }}

            
            </article>
            </div>
            
            
            
        </div>
    </main>
{{ end }}