{{ $_hugo_config := `{ "version": 1 }` }}

{{/* 
    Reference: https://github.com/matcornic/hugo-theme-learn/blob/master/layouts/shortcodes/expand.html 
    Which has this license: https://github.com/matcornic/hugo-theme-learn/blob/master/LICENSE.md
*/}}

<div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').first().attr('class',function () {return $h.next('div').is(':visible') ? 'fas fa-chevron-down' : 'fas fa-chevron-right';});});">
    <i style="font-size:x-small;" class="fas fa-chevron-down"></i>
    <span>
    {{$expandMessage := T "Expand-title"}}
    {{ if .IsNamedParams }}
    {{.Get "default" | default $expandMessage |safeHTML }}
    {{else}}
    {{.Get 0 | default $expandMessage |safeHTML  }}
    {{end}}
    </span>
</div>
<div class="expand-content">
    {{.Inner | safeHTML}}
</div>
